/* ============================================ *
 * Reset
 * ============================================ */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* ============================================ *
 * Utilities
 * ============================================ */
.m0 {
    margin: 0;
}
.mt0 {
    margin-top: 0;
}
.mb0 {
    margin-bottom: 0;
}
.p0 {
    padding: 0;
}
.pmb0 p {
    margin-bottom: 0;
}

/* ============================================ *
 * Global
 * ============================================ */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
a {
    transition: all .3s ease;
    color: #000;
}
a:hover {
    color: #106526;
}
input,
textarea {
    padding: 8px 10px;
    border: 1px solid #e3e3e3;
    width: 100%;
}
button,
.button,
input.submit {
    background: #106526;
    border: 2px solid #106526;
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    transition: all .3s ease;
}
button:hover,
.button:hover,
input.submit:hover {
    background: transparent;
    color: #106526;
}


/* ============================================ *
 * Typography
 * ============================================ */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: 'Oswald', sans-serif;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    font-style: normal;
    color: #000;
}
h1, .h1 {
    margin: 0 0 0.7em 0;
    color: #0e6323;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}

h2, .h2 {
    margin: 0 0 0.5em 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

h3, .h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

h4, .h4 {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
}

h5, .h5 {
    margin: 0 0 10px 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
}

h6, .h6 {
    margin: 0 0 5px 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
}

/* ============================================ *
 * Top Heading
 * ============================================ */
.top-bar {}
.pbm0 p {
    margin-bottom: 0;
}
.header-top-menu a {
    color: #e6e6e6;
}

/* ============================================ *
 * Nav menu
 * ============================================ */
.nav-primary li.home-icon a {
    background: url(../img/home.png) no-repeat center center;
    color: transparent !important;
}


/* ============================================ *
 * Footer
 * ============================================ */
.footer-area {
    font-size: 11px;
    line-height: 1.7;
}
.footer-area .footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-area a,
.footer-area .footer-menu ul li a {
    color: #a8a8a8;
    /*transition: all .3s ease;*/
}
.footer-area a:hover,
.footer-area .footer-menu ul li a:hover {
    color: #fff;
}

/* ============================================ *
 * Home
 * ============================================ */
.home-products-tab .elementor-tabs-wrapper .elementor-tab-title {
    display: inline-block !important;
}
.home-products-tab .elementor-tabs-wrapper {
    text-align: center;
}
.home-products-tab .elementor-tabs-content-wrapper .elementor-tab-content {
    /*padding: 0 !important;*/
}

.home-products-tab .elementor-tab-title,
.home-products-tab .elementor-tab-title:before,
.home-products-tab .elementor-tab-title:after,
.home-products-tab .elementor-tab-content,
.home-products-tab .elementor-tabs-content-wrapper {
    /*border: 0 !important;*/
}
.home-products-tab .elementor-tabs-wrapper .elementor-tab-title.elementor-active {
    border-bottom: 2px solid #106526 !important;
}

/* ============================================ *
 * Comments
 * ============================================ */
h2.comments-title {
    margin-bottom: 20px;
    font-size: 16px;
}
h3.comment-reply-title {
    margin: 30px 0 10px;
}
.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.children {
    list-style: none;
}
.comment-body {
    border: 1px solid #ddd;
    /*padding: 20px;*/
    margin-bottom: 15px;
}
.comment-author.vcard img {
    border-radius: 50%;
    margin-right: 8px;
}
footer.comment-meta {
    overflow: hidden;
    clear: both;
    /*margin-bottom: 12px;*/
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
.comment-content {
    padding: 20px;
}
.comment-author.vcard {
    float: left;
}
.comment-metadata {
    float: right;
    line-height: 2;
}
.reply {
    text-align: right;
    padding: 0 20px 20px;
}