/*
Theme Name: Nuke Nutrition

WooCommerce styles override
*/
/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
/**
 * Shop tables
 */
table.shop_table_responsive thead {
	display: none;
}

table.shop_table_responsive tbody th {
	display: none;
}

table.shop_table_responsive tr td {
	display: block;
	text-align: right;
	clear: both;
}

table.shop_table_responsive tr td:before {
	content: attr(data-title) ": ";
	float: left;
}

table.shop_table_responsive tr td.product-remove a {
	text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
	display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
	display: none;
}

table.shop_table_responsive tr td.download-actions .button {
	display: block;
	text-align: center;
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive thead {
		display: table-header-group;
	}
	table.shop_table_responsive tbody th {
		display: table-cell;
	}
	table.shop_table_responsive tr th, table.shop_table_responsive tr td {
		text-align: left;
	}
	table.shop_table_responsive tr td {
		display: table-cell;
	}
	table.shop_table_responsive tr td:before {
		display: none;
	}
}

/**
 * Products
 */
/**
 * Products
 */
ul.products {
	content: "";
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

ul.products li.product {
	list-style: none;
	position: relative;
	margin-bottom: 2em;
}

ul.products li.product .woocommerce-loop-product__title {
	font-size: 1rem;
}

ul.products li.product img {
	display: block;
}

ul.products li.product .button {
	display: block;
}

@media screen and (min-width: 48em) {
	ul.products li.product {
		width: 30.7966666667%;
		float: left;
		margin-right: 3.8%;
	}
	ul.products li.product.first {
		clear: both;
	}
	ul.products li.product.last {
		margin-right: 0;
	}
	.columns-1 ul.products li.product {
		float: none;
		width: 100%;
	}
	.columns-2 ul.products li.product {
		width: 48.1%;
	}
	.columns-3 ul.products li.product {
		width: 30.7966666667%;
	}
	.columns-4 ul.products li.product {
		width: 22.15%;
	}
	.columns-5 ul.products li.product {
		width: 16.96%;
	}
	.columns-6 ul.products li.product {
		width: 13.4933333333%;
	}
}

/**
 * Single product
 */
/**
 * Single Product
 */
.single-product div.product {
	/*content: "";*/
	/*display: table;*/
	/*table-layout: fixed;*/
	/*position: relative;*/
}

.single-product div.product .woocommerce-product-gallery {
	position: relative;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	z-index: 99;
	background: #0e6323;
	padding: 8px 12px;
	text-indent: -9999px;
	width: 35px;
	height: 35px;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
	content: "\f002";
	position: absolute;
	font-family: FontAwesome;
	display: block;
	color: #fff;
	text-indent: 0;
	text-align: center;
	left: 0;
	right: 0;
	top: 7px;
	font-size: 14px;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
	margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
	content: "";
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
	list-style: none;
	cursor: pointer;
	float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 30.7966666667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
	clear: both;
}

.stock:empty:before {
	display: none;
}

.stock.in-stock {
	color: #0f834d;
}

.stock.out-of-stock {
	color: #e2401c;
}

/**
 * Checkout
 */
/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set .form-row-first {
		float: left;
		margin-right: 3.8%;
	}
	.col2-set .form-row-last {
		float: right;
		margin-right: 0;
	}
	.col2-set .form-row-first,
	.col2-set .form-row-last {
		width: 48.1%;
	}
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	content: "";
	display: table;
	table-layout: fixed;
}

.site-header-cart .cart-contents {
	text-decoration: none;
}

.site-header-cart .widget_shopping_cart {
	display: none;
}

.site-header-cart .product_list_widget {
	margin: 0;
	padding: 0;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;
}

.star-rating:before {
	content: "\53\53\53\53\53";
	opacity: .25;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}

.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}

.star-rating span:before {
	content: "\53\53\53\53\53";
	top: 0;
	position: absolute;
	left: 0;
	color: royalblue;
}

p.stars a {
	position: relative;
	height: 1em;
	width: 1em;
	text-indent: -999em;
	display: inline-block;
	text-decoration: none;
	margin-right: 1px;
	font-weight: 400;
}

p.stars a:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	line-height: 1;
	font-family: "star";
	content: "\53";
	color: #404040;
	text-indent: 0;
	opacity: .25;
}

p.stars a:hover ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars:hover a:before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

p.stars.selected a.active:before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

p.stars.selected a.active ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars.selected a:not(.active):before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	border: 1px solid #f1f1f1;
}

.woocommerce-tabs ul.tabs li {
	display: inline-block;
	margin: 0;
	position: relative;
	border-right: 1px solid #f1f1f1;
	border-top: 2px solid transparent;
}
.woocommerce-tabs ul.tabs li.active {
	border-top-color: #106526;
}
.woocommerce-tabs ul.tabs li a {
	display: block;

	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
	letter-spacing: 1px;
	font-family: 'Oswald', sans-serif;
}

.woocommerce-tabs .panel h2:first-of-type {
	margin-bottom: 1em;
	display: none;
}
.woocommerce-tabs .panel {
	border: 1px solid #f1f1f1 !important;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;
}

.woocommerce-password-strength.strong {
	color: #0f834d;
}

.woocommerce-password-strength.short {
	color: #e2401c;
}

.woocommerce-password-strength.bad {
	color: #e2401c;
}

.woocommerce-password-strength.good {
	color: #3D9CD2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
	box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
	box-shadow: inset 2px 0 0 #e2401c;
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	content: "";
	display: table;
	table-layout: fixed;
	background-color: #0f834d;
	clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: #3D9CD2;
}
.woocommerce-noreviews,
p.no-comments {
	background: transparent;
}

.woocommerce-error {
	background-color: #e2401c;
}

.woocommerce-notices-wrapper .button {
	float: right;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: #3D9CD2;
	z-index: 9999;
}

@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart .widget_shopping_cart {
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 999999;
		left: -999em;
		display: block;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	}
	.site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
		left: 0;
		display: block;
	}
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
	margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
	text-align: right;
	line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	cursor: ew-resize;
	outline: none;
	background: royalblue;
	box-sizing: border-box;
	margin-top: -.25em;
	opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
	box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background: royalblue;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height: 100%;
}



/* ============================================ *
 * Products Block
 * ============================================ */
.xl-product {
	margin-bottom: 20px;
}
.xl-product .xl-product-inner {
	color: #000;
	border: 1px solid #f1f1f1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	overflow: hidden;
}
.xl-product .xl-product-image-wrap {
	position: relative;
	overflow: hidden;
}
.xl-product .xl-product-image-wrap .onsale,
.woocommerce .elementor-widget-woocommerce-product-images span.onsale {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 3;
}
.woocommerce .elementor-widget-woocommerce-product-images span.onsale {
	right: inherit;
	left: 15px;
}
.xl-product .xl-product-image img {
	margin: 0 auto;
}
.xl-product .xl-product-content {
	background-color: #fafafa;
	padding: 30px;
}
ul.products li.product .xl-product .xl-product-title .woocommerce-loop-product__title {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 10px;
	color: #000;
	transition: all .3s ease;
}
ul.products li.product .xl-product .xl-product-title a:hover .woocommerce-loop-product__title {
	color: #106526;
}
.xl-product .xl-product-price {
	margin: 10px 0;
}
.price del .amount {
	font-size: 14px;
	font-weight: 400;
	margin-right: 10px;
}
.price ins {
	text-decoration: none;
}
.price .amount {
	font-size: 18px;
	font-weight: 700;
}
p.stars.selected a:not(.active):before,
p.stars:hover a:before,
p.stars.selected a.active:before,
.star-rating span:before {
	color: #106526;
}
.xl-product .xl-product-inner:hover {
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.xl-product .add_to_cart_button,
.xl-product .added_to_cart {
	background: #106526;
	border: 2px solid #106526;
	color: #fff;
	padding: 8px 20px;
	font-size: 14px;
	display: inline-block;
}
.xl-product .add_to_cart_button.added {
	display: none !important;
}
.xl-product .add_to_cart_button:hover,
.xl-product .added_to_cart:hover {
	background: transparent;
	color: #106526;
}

/* ============================================ *
 * Products Block List Layout
 * ============================================ */
.elementor-element.elementor-products-grid .list-layout .products {
	width: 100%;
	display: block !important;
}
.list-layout .xl-product .xl-product-inner {
	background: #fafafa;
	padding: 30px;
}
.list-layout ul.products li.product .xl-product-image {
	/*float: left;*/

}
.list-layout .xl-product-content {
	background: transparent;
	padding: 0;
	overflow: hidden;
}
.list-layout .xl-product .xl-product-image-wrap {
	float: left;
	max-width: 180px;
	margin-right: 20px;
}
.list-layout ul.products li.product .button {
	display: inline-block;
}
.list-layout .d-flex {
	display: block !important;
}

/*Pagination*/
.woocommerce-pagination {}
.woocommerce-pagination .page-numbers li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #106526;
	text-align: center;
	line-height: 28px;
}
.woocommerce-pagination .page-numbers li a {
	display: block;
}
.woocommerce-pagination .page-numbers li a:hover,
.woocommerce-pagination .page-numbers li span.current {
	background: #106526;
	color: #fff;
}
.woocommerce-pagination .page-numbers li span.current {
	display: block;
}

/* ============================================ *
 * Cart page
 * ============================================ */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	display: block;
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background-color: #f7f6f7;
	color: #515151;
	border-top: 3px solid #ffc107;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
	clear: both;
	overflow: hidden;
}
.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
	font-family: FontAwesome;
	content: "\f059";
	color: #ffc107;
	display: inline-block;
	position: absolute;
	top: 1em;
	left: 1.5em;
}
.woocommerce-message {
	border-top-color: #106526;
}
.woocommerce-message::before {
	content: "\f058";
	color: #106526;
}
.woocommerce-error {
	border-top-color: #b81c23;
}
.woocommerce-error::before {
	content: "\f06a";
	color: #b81c23;
}
.woocommerce table.shop_table {
	border: 2px solid #e3e3e3;
	text-align: left;
	width: 100%;
}
.woocommerce table.shop_table thead {
	border-bottom: 1px solid #e3e3e3;
}
.woocommerce table.shop_table th {
	font-weight: 700;
	padding: 9px 12px;
}
.woocommerce table.shop_table td {
	padding: 20px;
}
.woocommerce-cart .woocommerce-cart-form .shop_table .product-thumbnail {
	max-width: 80px;
}
.woocommerce-cart .shop_table tr,
.woocommerce-checkout-review-order-table tr,
.shop_table.order_details tr{
	border-bottom: 1px solid #e3e3e3;
}
.quantity input {
	padding: 8px;
	width: 80px;
	border: 1px solid #e3e3e3;
}
.woocommerce-cart .woocommerce-cart-form .product-remove a {
	font-size: 25px;
}
.woocommerce-cart .woocommerce-cart-form .product-remove a:hover {
	color: #b81c23;
}
.woocommerce-cart .actions .coupon {
	float: left;
}
.woocommerce-cart .actions .coupon label {
	display: none;
}
.woocommerce-cart .actions .coupon input {
	width: 250px;
}
.woocommerce-cart .actions button[name="update_cart"] {
	float: right;
}

.woocommerce-cart .cart-collaterals {
	float: right;
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.cart_totals h2 {
	margin-bottom: 25px;
}
.wc-proceed-to-checkout .checkout-button {
	margin-top: 20px;
	display: block;
	text-align: center;
}

/*PayPal Checkout cart page button*/
.wcppec-checkout-buttons__button {
	 padding-top: 0;
}

.woocommerce-cart .cross-sells {
	clear: both;
	overflow: hidden;
}

.woocommerce-cart .cross-sells ul.products li.product {
	width: 32.14%;
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}
.woocommerce-cart .cross-sells ul.products li.product.last {
	margin-right: 0;
}
.woocommerce-cart .cross-sells .xl-product .add_to_cart_button.added {
	display: block !important;
}
.woocommerce-cart .woocommerce div:last-child {
	margin-bottom: 0;
}
/* ============================================ *
 * Checkout page
 * ============================================ */
.woocommerce .col2-set,
.woocommerce-page .col2-set {
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 0 -15px 30px;
}
.woocommerce .checkout .col2-set .col-1,
.woocommerce .checkout .col2-set .col-2,
.woocommerce-page .checkout .col2-set .col-1,
.woocommerce-page .checkout .col2-set .col-2,
.u-columns.woocommerce-Addresses.col2-set.addresses .col-1,
.u-columns.woocommerce-Addresses.col2-set.addresses .col-2 {
	float: left;
	width: 50%;
	max-width: none;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
	display: block;
}

.woocommerce .checkout span.woocommerce-input-wrapper {
	width: 100%;
}
.woocommerce .checkout .form-row-wide {
	display: block;
	clear: both;
}
.woocommerce .checkout .woocommerce-checkout-review-order-table {
	margin-bottom: 30px;
}
.woocommerce .form-row {
	display: block;
	margin-left: 0;
	margin-right: 0;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #e3e3e3;
	border-radius: 0;
}
.select2-container .select2-selection--single {
	height: 42px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 6px 10px;
}

.woocommerce-checkout-payment ul.payment_methods,
.woocommerce-checkout-payment ul.payment_methods {
	text-align: left;
	padding: 1em;
	border-bottom: 1px solid #d3ced2;
	margin: 0;
	list-style: none outside;
}
.woocommerce-cart .woocommerce-checkout-payment,
.woocommerce-checkout .woocommerce-checkout-payment {
	background: #ebe9eb;
	/*border-radius: 5px;*/
}
.woocommerce-checkout-payment .wc_payment_method input,
.checkbox input {
	width: inherit;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	font-size: .92em;
	border-radius: 2px;
	line-height: 1.5;
	background-color: #dfdcde;
	color: #515151;
}
#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
	content: "";
	display: block;
	border: 1em solid #dfdcde;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	position: absolute;
	top: -.75em;
	left: 0;
	margin: -1em 0 0 2em;
}
#add_payment_method #payment div.payment_box p:last-child,
.woocommerce-cart #payment div.payment_box p:last-child,
.woocommerce-checkout #payment div.payment_box p:last-child {
	margin-bottom: 0;
}
#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
	padding: 1em;
}
.woocommerce form .form-row .required {
	font-weight: 700;
	text-decoration: none;
}

/* ============================================ *
 * Thank you
 * ============================================ */
.woocommerce ul.order_details {
	margin: 0 0 50px;
	list-style: none;
	clear: both;
	overflow: hidden;
}
.woocommerce ul.order_details li {
	float: left;
	margin-right: 2em;
	text-transform: uppercase;
	font-size: .715em;
	line-height: 1;
	border-right: 1px dashed #d3ced2;
	padding-right: 2em;
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
.woocommerce ul.order_details li strong {
	display: block;
	font-size: 1.4em;
	text-transform: none;
	line-height: 1.5;
}

.woocommerce .woocommerce-customer-details,
.woocommerce .woocommerce-order-details,
.woocommerce .woocommerce-order-downloads {
	margin-bottom: 2em;
}

/* ============================================ *
 * My account
 * ============================================ */
.woocommerce-account .woocommerce-MyAccount-navigation {

}
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 20%;
	padding-right: 30px;
	/*margin-bottom: 10px;*/
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul {
	list-style: none;
	margin: 0;
	border: 1px solid #e3e3e3;
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li > a {
	display: block;
	/*min-width: 180px;*/
	padding: 10px 20px;
	border-bottom: 1px solid #e3e3e3;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	transition: all .3s ease;
}
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li > a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation > ul > li.is-active >a {
	background: #0e6323;
	color: #ffffff;
}
.woocommerce-account .woocommerce {
	display: flex;
}
.woocommerce-account .woocommerce-MyAccount-content {
	/*margin-bottom: 30px;*/
	width: 80%;
}
.woocommerce-info a.woocommerce-Button.button {
	float: right;
}

/* ============================================ *
 * Sidebar
 * ============================================ */

/*Price slider*/
.price_slider_wrapper .price_slider {
	background-color: #ddd;
	height: 8px;
	position: relative;
	width: 90%;
	margin-left: 8px;
	cursor: pointer;
}
.price_slider .ui-slider-range {
	background-color: #106526;
	height: 8px;
	position: absolute;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	background-color: #106526;
	border-radius: 50%;
	outline: 0;
	top: -3px;
	margin-left: -8px;
	border: 1px solid #106526;
	width: 15px;
	height: 15px;
}

.price_slider_amount {
	margin-top: 20px;
}

.price_slider_wrapper .price_slider_amount #min_price,
.price_slider_wrapper .price_slider_amount #max_price {
	display: inline-block !important;
	width: 25%;
	text-indent: 10px;
	height: 42px;
	margin-bottom: 20px;
	border-radius: 0;
}

/*category toggle*/
.elementor-widget-wp-widget-woocommerce_product_categories ul.product-categories {
	background: #fafafa;
}
.elementor-widget-wp-widget-woocommerce_product_categories ul.children {
	margin-left: 20px;
}
.elementor-widget-wp-widget-woocommerce_product_categories .cat-item > .children {
	display: none;
}
.elementor-widget-wp-widget-woocommerce_product_categories .cat-item.open > .children {
	display: block;
}
.elementor-widget-wp-widget-woocommerce_product_categories .cat-item.open > .fa-plus:before {
	content: "\f068";
}
.elementor-widget-wp-widget-woocommerce_product_categories .cat-parent {
	position: relative;
}
.elementor-widget-wp-widget-woocommerce_product_categories .cat-parent  .icon {
	position: absolute;
	top: 12px;
	right: 15px;
	cursor: pointer;
}
.sidebar ul.product-categories > li {
	border-bottom: 1px solid #ededed;
	padding: 8px 15px;
}

/* ============================================ *
 * Products block
 * ============================================ */
.products {
	clear: both;
	overflow: hidden;
}
p.woocommerce-result-count {
	float: left;
}
form.woocommerce-ordering {
	float: right;
	margin-bottom: 40px;
}
select.orderby {
	border-color: #e3e3e3;
	height: 42px;
	padding: 8px 10px;
}

/* ============================================ *
 * Single Products
 * ============================================ */
.single-product {}
.elementor-widget-woocommerce-product-images {

}
a.woocommerce-review-link {
	margin-left: 8px;
}
.single-product .price .amount {
	font-size: 25px;
}
.single-product .price del .amount {
	font-size: 16px;
}
.single-product .wcppec-checkout-buttons {
	text-align: left;
}

.single-product .woocommerce-Reviews .commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}
.single-product .woocommerce-Reviews .commentlist .review {
	margin-bottom: 30px;
	clear: both;
	overflow: hidden;
}
.single-product .woocommerce-Reviews .commentlist .review img.avatar {
	float: left;
	border-radius: 50%;
}
.single-product .woocommerce-Reviews .commentlist .review .comment-text {
	border: 1px solid #ebebeb;
	margin-left: 80px;
	position: relative;
	padding: 15px;
}
.single-product .woocommerce-Reviews .commentlist .review .comment-text:before {
	background: #fff;
	border-bottom: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	content: '';
	display: block;
	height: 10px;
	left: -6px;
	position: absolute;
	top: 10px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 10px;
}
.single-product .woocommerce-Reviews .commentlist .review .comment-text .description p:last-child {
	margin-bottom: 0;
}
.single-product .woocommerce-Reviews .comment-reply-title {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 10px;
	display: block;
}
.comment-form-cookies-consent #wp-comment-cookies-consent {
	width: initial;
	margin-right: 8px;
}
p.form-submit .submit {
	width: initial;
}

/*Related Products*/
section.related.products > h2,
.cross-sells > h2 {
	text-align: center;
	margin-bottom: 30px;
}

/*Variable Products*/
.elementor-add-to-cart.elementor-product-variable .variations {
	display: block;
	margin-bottom: 10px;
}
.elementor-add-to-cart.elementor-product-variable .variations tr {
	display: block !important;
}
.elementor-add-to-cart.elementor-product-variable .variations tr td.label {
	display: inline-block !important;
	width: initial !important;
	min-width: 108px;
}
.elementor-add-to-cart.elementor-product-variable .variations tr td.value {
	display: inline-block !important;
	width: initial !important;
}
.elementor-add-to-cart.elementor-product-variable .variations td.value select {
	border: 1px solid #ddd !important;
	height: 42px !important;
	padding: 8px 12px !important;
}
.elementor-add-to-cart.elementor-product-variable .variations a.reset_variations {
	display: block !important;
	margin-top: 20px;
}


